
name: Publish to PyPI

on:
  workflow_dispatch:  # Manual trigger

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv
        run: pip install uv

      - name: Install publishing dependencies
        run: pip install twine

      - name:  Sync dependencies from lock file
        run: |
          uv sync

      - name: Build package
        run: |
          uv build

      - name: Publish to PyPI
        run: |
          uv run twine upload dist/* -u __token__ -p ${{ secrets.PYPI_API_TOKEN }}
